body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Fügt Abstand um den Container hinzu */
}

#quiz-container {
    width: 80vw; /* Setzt die Breite auf 80% des Viewport */
    max-width: 1200px; /* Maximale Breite, um zu große Ansichten zu vermeiden */
    height: 80vh; /* Setzt die Höhe auf 80% des Viewport */
    max-height: 800px; /* Maximale Höhe */
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Ordnet Kinder vertikal an */
    justify-content: space-between; /* Verteilt den Innenabstand */
}

#map {
    flex-grow: 1; /* Ermöglicht es der Karte, verfügbaren Raum auszufüllen */
    width: 100%;
    margin: 20px 0; /* Fügt oben und unten Abstand hinzu */
    border-radius: 8px;
    overflow: hidden;
}

#controls, #feedback {
    margin-top: 20px;
}

input[type="text"], button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    width: 100%; /* Passt die Breite an den Elterncontainer an */
}

input[type="text"] {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

button.correct, button.wrong {
    transition: background-color 0.5s ease; /* Glättet den Übergang */
}

#feedback {
    font-weight: bold;
    height: 20px;
}

#quiz-container select {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    appearance: none; /* Entfernt den nativen Dropdown-Pfeil */
    background-color: #fff;
    cursor: pointer;
}

#quiz-container select:hover {
    border-color: #adb5bd;
}

#stats {
    margin-top: 10px;
}

.info-icon-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.info-icon-container .fas {
    color: #007bff;
}

.tooltip-text {
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    
    /* Positionierung */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -110px;
    
    /* Fading-Effekte */
    opacity: 0;
    transition: opacity 0.3s;
}

.info-icon-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

