body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Fügt Abstand um den Container hinzu */
}

#quiz-container {
    width: 80vw; /* Setzt die Breite auf 80% des Viewport */
    max-width: 1200px; /* Maximale Breite, um zu große Ansichten zu vermeiden */
    height: 80vh; /* Setzt die Höhe auf 80% des Viewport */
    max-height: 800px; /* Maximale Höhe */
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Ordnet Kinder vertikal an */
    justify-content: space-between; /* Verteilt den Innenabstand */
}

#map {
    flex-grow: 1; /* Ermöglicht es der Karte, verfügbaren Raum auszufüllen */
    width: 100%;
    margin: 20px 0; /* Fügt oben und unten Abstand hinzu */
    border-radius: 8px;
    overflow: hidden;
}

#countryLabel {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    padding: 4px 8px;
    border-radius: 4px;
    pointer-events: none; /* Verhindert, dass der Tooltip selbst zum Ziel von Mausereignissen wird */
    visibility: hidden; /* Standardmäßig versteckt, wird durch JavaScript sichtbar gemacht */
    z-index: 1000; /* Stellen Sie sicher, dass der Tooltip über anderen Elementen liegt */
}


#regionSelect {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    appearance: none; /* Entfernt den nativen Dropdown-Pfeil */
    background-color: #fff;
    cursor: pointer;
}

#regionSelect:hover {
    border-color: #adb5bd;
}

.tooltip {
    position: absolute;
    visibility: hidden; /* Standardmäßig versteckt, wird durch JS sichtbar gemacht */
    /* Weitere Stile hinzufügen, um das Aussehen des Tooltips zu gestalten */
}


