body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9ecef;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quiz-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

#controls, #feedback {
    margin-top: 20px;
}

input[type="text"], button {
    padding: 10px;
    width: calc(100% - 20px);
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"] {
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

button.correct {
    background-color: #28a745;
}

button.wrong {
    background-color: #dc3545;
}

#feedback {
    font-weight: bold;
    height: 20px; /* Hält den Platz für Feedback, um Springen zu vermeiden */
}
